/* CSS Styles */

/* Clear away any default formatting that would mess up custom styling. */
@import url("reset.css");

#header {
    position: fixed;
    z-index: 1;
    right: 5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 7px 15px 0 0;
    height: 100px;
    float: right;
}

#share {
    border-radius: 1px;
    background-color: #F4F4F4;
    padding: 7px 15px;
}

#share:hover {
    background-color: #E7E7E7;
}

li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#notification {
    background: url('https://ssl.gstatic.com/gb/images/v2_0b3bd130.png');
    background-position: -104px -2404px;
    position: absolute;
    width: 42px;
    height: 52px;
}

#person {
    border-radius: 100%; /* make complete circle */
}

#logo {
    width: 269px;
    margin-top: 145px;
    margin-bottom: 20px;
}

#google-logo {
    width: 269px;
    margin: auto;
}

#search-bar {
    font-size: 15px;
    padding: 0 0 0 4px; /* Reduces vertical height slightly */
    margin-bottom: 15px;
    width: 535px;
    height: 27px;
    border: 1px solid #DCDCDC;
}

#search-bar:focus {
    border: 1px solid #4285F4;
}

#search-form {
    width: 535px;
    margin: auto;
}

#buttons {
    width: 255px;
    margin: auto;
}

.button {
    margin-right: 8px;
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 2px;
}

.button:hover {
        border-color: #c6c6c6;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.button:focus {
    border: 1px solid #4285F4;
}

#footer {
    background: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    line-height: 40px;
    min-width: 100%;
    bottom: 0;
    position: absolute;
}

#left {
    float: left;
    margin-left: 27px;
}

#right {
    float: right;
    margin-right: 20px;
}

#footer li {
    color: #666;
    font-size: 10pt;
}